body{
display: flex;
justify-content: center;
align-items: center;
background-color: #909497;
height: 100vh;
}
.container{
padding: 10px;
background-color: white;
width: 330px;
margin: auto;
border-radius: 5px;
}
.Register-Form{
display: flex;
justify-content: space-evenly;
flex-direction: column;
padding: 10px;
}

.input-value{
padding: 5px;
margin: 10px 0 10px 0;
border: none;
}

button{
padding: 5px;
cursor: pointer;
border-radius: 5px;
background-color: #909497;
color: white;
border: none;
margin-top: 10px;
font-size: 15px;
margin-left: 5px;
}

span{

color: red ;
font-size: 12px;
}